doctype html
html(lang='en')
  head
    title React Input OnEnter Demo
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1")
  body
    div#demo
    -if (env === "production")
      script(src="client.js")
    -else
      script(src="jspm_packages/system.js")
      script(src="jspm.browser.js")
      script(src="jspm.config.js")
      script.
        SystemJS.import('react-onenterkeydown-demo');
